<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <title>tp-fanboy</title>
  </head>
  <body>
    <h1>tp-fanboy</h1>
    <p>
      ... is a simple application that allows you to control a ThinkPad
      laptop's fan speed using a web interface. It works by utilizing the
      ThinkPad ACPI fan control interface, which is available on all ThinkPads
      since the T420.
    </p>

    <ul>
      <li>Current fan level: {{current_level}}</li>
      <li>Current fan speed: <span id="currentSpeed">{{current_speed}}</span></li>
    </ul>

    <form method="post">
      <label for="fan-level">Fan level:</label>
      <select id="fan-level" name="level">
        {% for level in levels %}
        <option value="{{level}}" {% if level == current_level %}selected{% endif %}>{{level}}</option>
        {% endfor %}
      </select>
      <button type="submit">Set fan level</button>
    </form>
  </body>

  <script>
    setInterval(() => {
      fetch("/get-current-speed")
        .then((response) => response.text())
        .then((speed) => {
          document.getElementById("currentSpeed").innerText = speed;
        });
    }, 1000);
  </script>

</html>
